.scrollable {
    overflow-x: auto;
}

* {
    border-radius: 0 !important;
  }

  *:focus {outline:none !important}

  .pull-right {
      float: right;
  }

  .card-img-padding {
    padding: 1.25rem;
  }

  .input-transparent {
    background-color: transparent;
    border: 0px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;      
    border: none;
    box-shadow: none;
  }

  .input-transparent:focus {  
    outline:none;
    border: none;
    box-shadow: none;
  }

  .card-hover:hover {
      background-color: #F8F9FA;
      border: 1px solid #E5EFFA;
  }