<h4>Passwords</h4>

<div class="text-center" *ngIf="!passwords">
  <br>
  <br>
  <i class="fa fa-spinner fa-spin fa-3x"></i>
  <br>
  <br>
  <h4>Loading...</h4>
</div>

<div class="scrollable" *ngIf="passwords">
  <div class="form-group">
    <form>
      <input style="height: 40px;" type="text" [(ngModel)]="keyword" name="keyword" class="form-control" placeholder="Search..." (ngModelChange)="search()"/>
    </form>
  </div>

  <table class="table table-bordered" [mfData]="passwords" #mf="mfDataTable">
    <thead>
      <tr>
        <th>
          <mfDefaultSorter by="projectId">Project</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="plugin">Plugin</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="username">Username</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="password">Password</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{ item.projectId }}</td>
        <td>{{ item.plugin }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.password }}</td>
      </tr>
    </tbody>
  </table>
</div>