<div class="card">
    <div class="card-header bg-white font-weight-bold">
        <h4>Projects (56)
            <a href="#" class="card-link pull-right" data-toggle="tooltip" data-placement="bottom" title="Add">
                <i class="fa fa-plus"></i>
            </a>
        </h4>
    </div>
    <div class="card-header bg-white font-weight-bold">
        <form>
            <input type="text" [(ngModel)]="keyword" name="keyword" class="form-control input-transparent" placeholder="Search..." (ngModelChange)="search()"
            />
        </form>

    </div>
    <div class="card-body">
        <div class="card col-md-3 card-hover">
            <img class="card-img-top card-img-padding" src="/assets/east.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Edit" class="card-link">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Delete" class="card-link">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div>
    </div>
</div>