<h4>Users</h4>

<div class="text-center" *ngIf="!users">
  <br>
  <br>
  <i class="fa fa-spinner fa-spin fa-3x"></i>
  <br>
  <br>
  <h4>Loading...</h4>
</div>

<div class="scrollable">
  <table class="table table-bordered table-white" cellspacing="0" width="100%" *ngIf="users">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Username</th>

      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let user of users">
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.username}}</td>
      </tr>

    </tbody>
  </table>
</div>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Launch vertically centered modal</button>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Add new user</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         

          
                <div class="form-group">                 
                  <input class="form-control" type="text" [(ngModel)]="newUser.firstname" name="firstname" placeholder="First name..."/>
                </div>
                <div class="form-group">
                  <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                  <button class="btn btn-primary" (click)="fileInput.click()">Select user picture</button>
                </div>
            
           

         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>